body{
 display: flex;
 justify-content: center;
 padding-top: 20px;
 background-color: lightgray;
}
.post{
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.post .postFoto{
  display:flex;
  width: 100%;
}
.post .postFoto img{
  width: 100%;
}
.postHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 0px;
  height: 50px;
  position: relative;
}
.postHeader ul{
  display: flex;
  list-style:none;
  list-style-position: inside;
}
.postOpciones{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 15px 3px 10px 15px;
}
.guardarPublicacion{
  padding-right: 0;
  position: absolute;

}
ol{
  list-style: none;
}
.fa-html5{
  font-size: 35px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 3px;
}
a:hover {
  color: gray;
}
.descripciones{
  padding: 5px 20px;
}